<form #formPessoa="ngForm" action="">
	<div class="form-group" style="padding-left: 5%;">
		<div class="row col-8">
			<label>Nome</label>
			<input type="text" class="form-control" required
				name="nome"
				[(ngModel)]="pessoa.nome" #nome="ngModel"
			>
		</div>
		<div class="row col-8">
			<label>Idade</label>
			<input type="number" class="form-control" required
				name="idade"
				[(ngModel)]="pessoa.idade" #idade="ngModel"
			>
		</div>
		<div class="row col-2">
			<label>Genero</label>
			<select class="form-control" required
				name="genero"
				[(ngModel)]="pessoa.genero" #genero="ngModel"
			>
				<option value="m">Masculino</option>
				<option value="f">Feminino</option>
			</select>
		</div>
		<br>
		<div class="row col-2">
			<button (click)="salvar()" type="button" class="btn btn-primary">Salvar</button>
			<a href="pessoa/listagem" class="btn btn-danger">Cancelar</a>
		</div>
	</div>
</form>